@page
@model FrontEnd.Pages.Order.OrderListModel
@section Styles {
   @{
	<partial name="_OrderListStylesPartial"/>
    }
}
<div class="row ">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="card mt-3">
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<h5>Your Orders</h5>											
					</div>													
				</div>
				<div id="orderlist-nav-pills-wizard" class="twitter-bs-wizard">
					<div class="row">
						<ul class="nav nav-tabs nav-tabs-custom">
							<li class="nav-item">
								<a href="#all-info" class="nav-link active" id="allorders" data-bs-toggle="tab">All Orders</a>
							</li>
							<li class="nav-item">
								<a href="#inprocess-info" class="nav-link" id="inprocess" data-bs-toggle="tab">In Process</a>
							</li>	
							<li class="nav-item">
								<a href="#ready-info" class="nav-link" id="ready" data-bs-toggle="tab">Ready for Pickup</a>
							</li>
							<li class="nav-item">
								<a href="#intransit-info" class="nav-link" id="intransit" data-bs-toggle="tab" role="tab">In Transit</a>
							</li>
							<li class="nav-item">
								<a href="#cancelled-info" class="nav-link" id="cancelled" data-bs-toggle="tab" role="tab">Cancelled</a>
							</li>
							<li class="nav-item">
								<a href="#completed-info" class="nav-link" id="completed" data-bs-toggle="tab" role="tab">Completed</a>
							</li>
						</ul>
					</div>
					<br>
					<div class="tab-content twitter-bs-wizard-tab-content">
					<!--All-->					
						<div class="tab-pane active" id="all-info">
							@foreach(var order in Model.OrderHeaderList){
								<div class="container">
									<div class="card-order-list">
										<div class="card-header-order-list">
											<div class="row">
												<div class="col-8">
													<div class="row">
														<div class="col-3">
															<span>ORDER DATE</span>
														</div>
														<div class="col-3">
															<span>ORDER TOTAL</span>
														</div>
													</div>
													<div class="row">
														<div class="col-3">
															<span>@order.OrderDate</span>
														</div>
														<div class="col-3">
															<span>₡@order.Total</span>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<span class="text-end">ORDER# GMSH-@order.Id</span>
													</div>
													<div class="row">
														<ul class="text-end">
															<a asp-page="Details" asp-route-id="@order.Id">View Order</a>
														</ul>
													</div>
												</div>
											</div>	
										</div>
										<div class="card-body">
											@foreach(var item in Model.OrderDetailsList.Where(u=>u.OrderId == order.Id)){												
												<div class="row">
													<div class="col-2">														
														<img src="@item.Product.Image1" alt="1" class="avatar-lg">														
													</div>
													<div class="col-6">
														<div class="row">
															<a asp-route-name="@item.Product.ShortName" asp-route-id="@item.Product.Id" asp-page="../Products/Details" class="text-primary fw-bold fs-5">@item.Product.Name</a>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Quantity: </strong><span class="fw-medium">@item.Quantity</span></p>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Unit Price: </strong><span class="fw-medium">₡@item.Product.Price</span></p>
														</div>
														<br>
														<br>
													</div>	
													<div class="col-4">
														<a asp-route-id="@item.Product.Id" asp-page="../Products/AddReview" class="btn btn-warning btn-sm float-end">Add Review</a>
													</div>
												</div>
											}
										</div>																														
									</div>
								</div>
								<br>
							}
						</div>					
					<!--In Process-->					
						<div class="tab-pane" id="inprocess-info">
							@foreach(var order in Model.OrderHeaderList.Where(u => u.Status == "In Process")){
							<div class="container">
								<div class="card-order-list">
									<div class="card-header-order-list">
										<div class="row">
											<div class="col-8">
												<div class="row">
													<div class="col-3">
														<span>ORDER DATE</span>
													</div>
													<div class="col-3">
														<span>ORDER TOTAL</span>
													</div>
												</div>
												<div class="row">
													<div class="col-3">
														<span>@order.OrderDate</span>
													</div>
													<div class="col-3">
														<span>₡@order.Total</span>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="row">
													<span class="text-end">ORDER# GMSH-@order.Id</span>
												</div>
												<div class="row">
													<ul class="text-end">
														<a asp-page="OrderDetails" asp-route-id="@order.Id">View Order</a>
													</ul>
												</div>
											</div>
										</div>	
									</div>
									<div class="card-body">
										@foreach (var item in Model.OrderDetailsList.Where(u => u.OrderId == order.Id))
										{
											<div class="row">
												<div class="col-2">
													<img src="@item.Product.Image1" alt="1" class="avatar-lg">
												</div>
												<div class="col-6">
													<div class="row">
														<a asp-route-name="@item.Product.ShortName" asp-route-id="@item.Product.Id" asp-page="../Products/Details" class="text-primary fw-bold fs-5">@item.Name</a>
													</div>
													<div class="row">
														<p class="mb-0"><strong>Quantity: </strong><span class="fw-medium">@item.Quantity</span></p>
													</div>
													<div class="row">
														<p class="mb-0"><strong>Unit Price: </strong><span class="fw-medium">₡@item.Price</span></p>
													</div>
													<br>
													<br>
												</div>
												<div class="col-4">
													<button asp-route-id="@item.ProductId" asp-page="../Products/AddReview" class="btn btn-warning btn-sm float-end">Add Review</button>
												</div>
											</div>
										}
									</div>																														
								</div>
							</div>
							<br>
							}
						</div>
					<!--Ready for Pickup-->
						<div class="tab-pane" id="ready-info">
						@foreach(var order in Model.OrderHeaderList.Where(u => u.Status == "Ready")){
							<div class="container">							
								<div class="card-order-list">
									<div class="card-header-order-list">
										<div class="row">
											<div class="col-8">
												<div class="row">
													<div class="col-3">
														<span>ORDER DATE</span>
													</div>
													<div class="col-3">
														<span>ORDER TOTAL</span>
													</div>
												</div>
												<div class="row">
													<div class="col-3">
														<span>@order.OrderDate</span>
													</div>
													<div class="col-3">
														<span>₡@order.Total</span>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="row">
													<span class="text-end">ORDER# GMSH-@order.Id</span>
												</div>
												<div class="row">
													<ul class="text-end">
														<a asp-page="OrderDetails" asp-route-id="@order.Id">View Order</a>
													</ul>
												</div>
											</div>
										</div>	
									</div>
									<div class="card-body">
										@foreach (var item in Model.OrderDetailsList.Where(u => u.OrderId == order.Id))
										{
											<div class="row">
												<div class="col-2">
													<img src="@item.Product.Image1" alt="1" class="avatar-lg">
												</div>
												<div class="col-6">
													<div class="row">
														<a asp-route-name="@item.Product.ShortName" asp-route-id="@item.Product.Id" asp-page="../Products/Details" class="text-primary fw-bold fs-5">@item.Product.Name</a>
													</div>
													<div class="row">
														<p class="mb-0"><strong>Quantity: </strong><span class="fw-medium">@item.Quantity</span></p>
													</div>
													<div class="row">
														<p class="mb-0"><strong>Unit Price: </strong><span class="fw-medium">₡@item.Product.Price</span></p>
													</div>
													<br>
													<br>
												</div>
												<div class="col-4">
													<button asp-route-id="@item.ProductId" asp-page="../Products/AddReview" class="btn btn-warning btn-sm float-end">Add Review</button>
												</div>
											</div>
										}
									</div>																														
								</div>								
								<br>
							</div>
						}
					</div>
					<!--In Transit-->
						<div class="tab-pane" id="intransit-info">
							@foreach(var order in Model.OrderHeaderList.Where(u => u.Status == "In Transit")){
								<div class="container">							
									<div class="card-order-list">
										<div class="card-header-order-list">
											<div class="row">
												<div class="col-8">
													<div class="row">
														<div class="col-3">
															<span>ORDER DATE</span>
														</div>
														<div class="col-3">
															<span>ORDER TOTAL</span>
														</div>
													</div>
													<div class="row">
														<div class="col-3">
															<span>@order.OrderDate</span>
														</div>
														<div class="col-3">
															<span>₡@order.Total</span>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<span class="text-end">ORDER# GMSH-@order.Id</span>
													</div>
													<div class="row">
														<ul class="text-end">
															<a asp-page="OrderDetails" asp-route-id="@order.Id">View Order</a>
														</ul>
													</div>
												</div>
											</div>	
										</div>
										<div class="card-body">
											@foreach (var item in Model.OrderDetailsList.Where(u => u.OrderId == order.Id))
											{
												<div class="row">
													<div class="col-2">
														<img src="@item.Product.Image1" alt="1" class="avatar-lg">
													</div>
													<div class="col-6">
														<div class="row">
															<a asp-route-name="@item.Product.ShortName" asp-route-id="@item.Product.Id" asp-page="../Products/Details" class="text-primary fw-bold fs-5">@item.Product.Name</a>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Quantity: </strong><span class="fw-medium">@item.Quantity</span></p>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Unit Price: </strong><span class="fw-medium">₡@item.Product.Price</span></p>
														</div>
														<br>
														<br>
													</div>
													<div class="col-4">
														<button asp-route-id="@item.ProductId" asp-page="../Products/AddReview" class="btn btn-warning btn-sm float-end">Add Review</button>
													</div>
												</div>
											}
										</div>																														
									</div>								
									<br>
								</div>
							}
						</div>
					<!--Cancelled-->
						<div class="tab-pane" id="cancelled-info">
							@foreach(var order in Model.OrderHeaderList.Where(u => u.Status == "Cancelled")){
								<div class="container">							
									<div class="card-order-list">
										<div class="card-header-order-list">
											<div class="row">
												<div class="col-8">
													<div class="row">
														<div class="col-3">
															<span>ORDER DATE</span>
														</div>
														<div class="col-3">
															<span>ORDER TOTAL</span>
														</div>
													</div>
													<div class="row">
														<div class="col-3">
															<span>@order.OrderDate</span>
														</div>
														<div class="col-3">
															<span>₡@order.Total</span>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<span class="text-end">ORDER# GMSH-@order.Id</span>
													</div>
													<div class="row">
														<ul class="text-end">
															<a asp-page="OrderDetails" asp-route-id="@order.Id">View Order</a>
														</ul>
													</div>
												</div>
											</div>	
										</div>
										<div class="card-body">
											@foreach (var item in Model.OrderDetailsList.Where(u => u.OrderId == order.Id))
											{
												<div class="row">
													<div class="col-2">
														<img src="@item.Product.Image1" alt="1" class="avatar-lg">
													</div>
													<div class="col-6">
														<div class="row">
															<a asp-route-name="@item.Product.ShortName" asp-route-id="@item.Product.Id" asp-page="../Products/Details" class="text-primary fw-bold fs-5">@item.Product.Name</a>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Quantity: </strong><span class="fw-medium">@item.Quantity</span></p>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Unit Price: </strong><span class="fw-medium">₡@item.Product.Price</span></p>
														</div>
														<br>
														<br>
													</div>
													<div class="col-4">
														<button asp-route-id="@item.ProductId" asp-page="../Products/AddReview" class="btn btn-warning btn-sm float-end">Add Review</button>
													</div>
												</div>
											}
										</div>																														
									</div>								
									<br>
								</div>
							}
						</div>
					<!--Completed-->
						<div class="tab-pane" id="completed-info">
							@foreach(var order in Model.OrderHeaderList.Where(u => u.Status == "Completed")){
								<div class="container">							
									<div class="card-order-list">
										<div class="card-header-order-list">
											<div class="row">
												<div class="col-8">
													<div class="row">
														<div class="col-3">
															<span>ORDER DATE</span>
														</div>
														<div class="col-3">
															<span>ORDER TOTAL</span>
														</div>
													</div>
													<div class="row">
														<div class="col-3">
															<span>@order.OrderDate</span>
														</div>
														<div class="col-3">
															<span>₡@order.Total</span>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<span class="text-end">ORDER# GMSH-@order.Id</span>
													</div>
													<div class="row">
														<ul class="text-end">
															<a asp-page="OrderDetails" asp-route-id="@order.Id">View Order</a>
														</ul>
													</div>
												</div>
											</div>	
										</div>
										<div class="card-body">
											@foreach (var item in Model.OrderDetailsList.Where(u => u.OrderId == order.Id))
											{
												<div class="row">
													<div class="col-2">
														<img src="@item.Product.Image1" alt="1" class="avatar-lg">
													</div>
													<div class="col-6">
														<div class="row">
															<a asp-route-name="@item.Product.ShortName" asp-route-id="@item.Product.Id" asp-page="../Products/Details" class="text-primary fw-bold fs-5">@item.Product.Name</a>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Quantity: </strong><span class="fw-medium">@item.Quantity</span></p>
														</div>
														<div class="row">
															<p class="mb-0"><strong>Unit Price: </strong><span class="fw-medium">₡@item.Product.Price</span></p>
														</div>
														<br>
														<br>
													</div>
													<div class="col-4">
														<button asp-route-id="@item.ProductId" asp-page="../Products/AddReview" class="btn btn-warning btn-sm float-end">Add Review</button>
													</div>
												</div>
											}
										</div>																														
									</div>								
									<br>
								</div>
							}
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
@section Scripts {
   @{
	<partial name="_OrderListScriptsPartial"/>
    }
}