@model FrontEnd.Pages.Components.Publicity.PublicityViewModel
@foreach(var item in Model.ProductPublicityList)
{

    @foreach (var subcategory in Model.ProductSubCategoryList.Where(u => u.Id == item.ProductSubcategoryId))
    {

        <div class="card" style="width: 18rem;">
            @{
                      <a asp-route-name="@subcategory.Name" asp-page="/Products/Index"> 
                      <img src="@item.Image1" class="card-img-top" alt="...">
                      </a>
            
                <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Message</p>
                <a asp-route-name="@subcategory.Name" class="btn btn-primary" asp-page="/Products/Index">Shop Now!</a>
                </div>
            }
        </div>   
    }

}
