@page
@model FrontEnd.Pages.Products.IndexModel
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-3">
            <a asp-page="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp;Create New Product
            </a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>SKU</th>
                <th>Brand</th>
                <th>Weight</th>
                <th>Container Type</th>
                <th>Inventory</th>
                <th>Price</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.Products)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Description</td>
                    <td>@obj.ProductCategory.Name</td>
                    <td>@obj.SKU</td>
                    <td>@obj.Brand</td>
                    <td>@obj.Weight</td>
                    <td>@obj.ContainerType</td>
                    <td>@obj.Inventory</td>
                    <td>@obj.Price</td>
                    <td>@obj.CreatedDate</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }            
        </tbody>
    </table>
</div>
