@page
@model FrontEnd.Pages.Cart.SummaryModel
@inject IOptions<BackEnd.Utility.StripeSettings> Stripe
@using Microsoft.Extensions.Options
@section Styles {
   @{
    <partial name="_CheckoutStylesPartial"/>
    }
}
<form method="post">
<div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div id="checkout-nav-pills-wizard" class="twitter-bs-wizard">
                            <ul class="twitter-bs-wizard-nav nav nav-pills nav-justified">                                
                                <li class="nav-item">
                                    <a href="#shipping-info" class="nav-link" data-toggle="tab" id="shipping">
                                        <span class="step-number">01</span>
                                        <span class="step-title">Shipping Info</span>
                                    </a>
                                </li>
                            
                                <li class="nav-item">
                                    <a href="#payment-info" class="nav-link" data-toggle="tab" id="payment">
                                        <span class="step-number">02</span>
                                        <span class="step-title">Payment Info</span>
                                    </a>
                                </li>
                            </ul>
                            
                                <div class="tab-content twitter-bs-wizard-tab-content">                                
                                    <div class="tab-pane" id="shipping-info">
                                        <h5 class="card-title">Delivery Method</h5>
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-4">
                                                <div>
                                                    <label class="card-radio-label mb-3">
                                                        <input asp-for="OrderHeader.DeliveryType" onclick="pickUpMethod()" type="radio" id="delivery-methodoption1" class="card-radio-input" value="Pick Up" />
                                                        <div class="card-radio">
                                                            <i class="fas fa-building font-size-24 align-middle me-2"></i>
                                                            <span>Pick Up on Site</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div>
                                                    <label class="card-radio-label mb-3">
                                                        <input asp-for="OrderHeader.DeliveryType" onclick="deliverAddressMethod()" type="radio" id="delivery-methodoption2" class="card-radio-input"  value="Deliver to Address"/>
                                                        <div class="card-radio">
                                                            <i class="fas fa-shipping-fast font-size-24 align-middle me-2"></i>
                                                            <span>Deliver to Address</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div id="pickup-method-toggle" style="display: none">
                                            <h5 class="card-title">Gualmarsh Sites</h5>
                                            <p class="card-title-desc">Choose the site where you want to pickup your order.</p>
                                            <div class="row mb-2">
                                                @foreach(var site in Model.SiteList){
                                                    if (@site.Id != 15)
                                                    {
                                                        <div class="col-lg-4">
                                                            <div>
                                                                <label class="card-radio-site-label mb-3">
                                                                    <input asp-for="OrderHeader.SiteId" type="radio" id=@("site-address" + @site.Id) class="card-radio-site-input" value="@site.Id"/>
                                                                    <div class="card-radio-site">
                                                                        <h5 class="font-size-14 mb-2">@site.Name</h5>
                                                                        <p class="fw-light mb-0" style="white-space: pre-line">@site.Address</p>
                                                                        <p class="fw-light mb-0"><strong>Phone:</strong> @site.Phone</p>
                                                                        <p class="fw-light" style="white-space: pre-line"><strong>Schedule:</strong> @site.ScheduleHour, @site.ScheduleDay</p>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div id="deliver-method-toggle" style="display: none">
                                             <h5 class="card-title">Shipping information</h5>
                                            <div class="row">
                                                @foreach(var address in Model.UserAddressList){
                                                    if(@address.Id != 8){
                                                        <div class="col-lg-4">
                                                            <label class="card-radio-site-label mb-3">
                                                                <input asp-for="OrderHeader.UserAddressId" type="radio" id=@("user-address" + @address.Id) class="card-radio-site-input" value="@address.Id"/>
                                                                <div class="card-radio-site">
                                                                    <h5 class="font-size-14 mb-2">@address.FirstName @address.LastName</h5>
                                                                    <p class="fw-light mb-0" style="white-space: pre-line">@address.AddressLine1, @address.AddressLine2</p>
                                                                    <p class="fw-light mb-0" style="white-space: pre-line">@address.City.Name, @address.City.Canton.Name, @address.City.Canton.Province.Name @address.City.PostalCode</p>
                                                                    <p class="fw-light mb-0"><strong>Phone:</strong> @address.Phone</p>
                                                                </div>
                                                            </label>
                                                        </div>   
                                                    }
                                                }                                        
                                            </div>
                                            <button type="button" onclick="newShippingAddress()" class="btn btn-primary float-end">Add New Address</button>
                                            <br />
                                            <br />
                                            <hr>
                                        
                                            <div id="add-shipping-toggle" style="display: none">
                                                <h5 class="card-title">Add new shipping address</h5>
                                                <br>
                                                <div>                                                                 
                                                    <div class="form-group mb-4">
                                                        <label asp-for="UserAddress.AddressLine1"></label>
                                                        <textarea asp-for="UserAddress.AddressLine1" class="form-control" rows="1" placeholder="Enter full address"></textarea>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label asp-for="UserAddress.AddressLine2"></label>
                                                        <textarea asp-for="UserAddress.AddressLine2" class="form-control" rows="1" placeholder="Enter full address"></textarea>
                                                    </div>
                                                    <div class="row">                                                                        
                                                        <div class="col-lg-4">
                                                            <div class="form-group mb-4">
                                                                <label asp-for="UserAddress.FirstName"></label>
                                                                <input asp-for="UserAddress.FirstName" type="text" class="form-control" placeholder="Enter first name" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group mb-4">
                                                                <label asp-for="UserAddress.LastName"></label>
                                                                <input asp-for="UserAddress.LastName" type="text" class="form-control" placeholder="Enter last name" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group mb-4">
                                                                <label asp-for="UserAddress.Phone"></label>
                                                                <input asp-for="UserAddress.Phone" type="text" class="form-control" placeholder="Enter Phone no." />
                                                            </div>
                                                        </div>                                                    
                                                    </div>                                                                  
                                                    <div class="row">    
                                                        <div class="col-lg-4">
                                                            <div class="form-group mb-4 mb-lg-0">
                                                                <label asp-for="UserAddress.City.Canton.Province"></label>
                                                                <select asp-items="Model.ProvinceList"
                                                                id="province" name="ProvinceId" class="form-select">
                                                                    <option disabled selected>--Select Province--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group mb-4 mb-lg-0">
                                                                <label asp-for="UserAddress.City.Canton"></label>
                                                                <select disabled asp-items="Model.CantonList" id="canton" class="form-select">
                                                                    <option disabled selected>--Select Canton--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group mb-4 mb-lg-0">
                                                                <label asp-for="UserAddress.City"></label>
                                                                <select disabled asp-for="UserAddress.CityId" asp-items="Model.CityList" id="city" class="form-select">
                                                                    <option disabled selected>--Select City--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />  
                                                    <div class="mb-5">
                                                        <button type="submit" asp-page-handler="address" class="btn btn-success float-end">Save New Address</button>                                                   
                                                    </div>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="payment-info">
                                        <h5 class="card-title">Payment information</h5>
                                        <p class="card-title-desc">Please select your payment method.</p>
                            
                                        <div>
                                            <h5 class="font-size-14">Payment method :</h5>
                            
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-4 col-sm-6">
                                                    <div>
                                                        <label class="card-radio-label mb-3">
                                                            <input asp-for="OrderHeader.PaymentType" onclick="cc_debit()" type="radio" id="pay-methodoption1" class="card-radio-input" value="Credit / Debit Card" />
                                                            <div class="card-radio">
                                                                <i class="fab fa-cc-mastercard font-size-24 align-middle me-2"></i>
                                                                <span>Credit / Debit Card</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div> 
                                                <div class="col-lg-4 col-sm-6">
                                                    <div>
                                                        <label class="card-radio-label mb-3">
                                                            <input asp-for="OrderHeader.PaymentType" onclick="paypal()" type="radio" id="pay-methodoption2" class="card-radio-input" value="PayPal" />
                                                            <div class="card-radio">
                                                                <i class="fab fa-cc-mastercard font-size-24 align-middle me-2"></i>
                                                                <span>PayPal</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-4 col-sm-6">
                                                    <div>
                                                        <label class="card-radio-label mb-3">
                                                            <input asp-for="OrderHeader.PaymentType" onclick="sinpe()" type="radio" id="pay-methodoption3" class="card-radio-input" value="SINPE Móvil" />
                                                            <div class="card-radio">
                                                                <i class="fas fa-mobile-alt font-size-24 align-middle me-2"></i>
                                                                <span>SINPE Móvil</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>                            
                                                <div class="col-lg-4 col-sm-6">
                                                    <div>
                                                        <label class="card-radio-label mb-3">
                                                            <input asp-for="OrderHeader.PaymentType" onclick="cash()" type="radio" id="pay-methodoption4" class="card-radio-input" value="Cash on Delivery"/>
                                                            <div class="card-radio">
                                                                <i class="far fa-money-bill-alt font-size-24 align-middle me-2"></i>
                                                                <span>Cash on Delivery</span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="sinpe-toggle" style="display: none">
                                                <h5 class="my-3 font-size-14">For SINPE Móvil payment</h5>
                                                <p class="card-title-desc">Please send a SINPE Móvil transfer to +506 8582-5555 with the order number as the detail. Order number will be provided once the order process is completed. </p>
                                            </div>
                                            <div id="paypal-toggle" style="display: none">
                                                <h5 class="my-3 font-size-14">For PayPal payment</h5>
                                                <p class="card-title-desc">You will be redirected to PayPal. Your order amount will be shown in USD.</p>
                                            </div>
                                            <div id="cc-toggle" style="display: none">
                                                <h5 class="my-3 font-size-14">For Credit / Debit Card payment</h5>
                                                <p class="card-title-desc">You will be redirected to Stripe for payment.</p>
                                            </div>
                                            <div id="cash-toggle" style="display: none">
                                                <h5 class="my-3 font-size-14">For Cash payment</h5>
                                                <p class="card-title-desc">We don't accept 50,000 bills.</p>
                                            </div>
                                            <div class="mt-4 text-end">
                                                <input type="submit" class="btn btn-success" value="Complete Order"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                <li class="previous"><a href="#">Previous</a></li>
                                <li class="next"><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card checkout-order-summary">
                    <div class="card-body">
                        <div class="p-3 bg-light mb-4">
                            <h5 class="font-size-14 mb-0">Order Summary</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered mb-0 table-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                        <th class="border-top-0" scope="col">Description</th>
                                        <th class="border-top-0" scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.ShoppingCartList){
                                    <tr>
                                        <th scope="row"><img src="@item.Product.Image1" alt="product-img" title="product-img" class="avatar-md" /></th>
                                        <td>
                                            <h5 class="font-size-14 text-truncate"><a href="ecommerce-product-detail.html" class="text-dark" style="white-space: pre-line">@item.Product.Name</a></h5>
                                            <p class="text-muted mb-0">₡@item.Product.Price x @item.Quantity</p>
                                        </td>
                                        <td>₡@(item.Product.Price * item.Quantity)</td>
                                    </tr>
                                    }
                                    <tr>
                                        <td colspan="2">
                                            <h6 class="m-0 text-right">Sub Total:</h6>
                                        </td>
                                        <td>
                                           ₡@Model.OrderHeader.Subtotal
                                        </td>
                                        <input asp-for="OrderHeader.Subtotal" type="hidden" id="subtotal" value="@Model.OrderHeader.Subtotal">
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h6 class="m-0 text-right">Discount:</h6>
                                        </td>
                                        <td>
                                           ₡@Model.DiscountAmount
                                        </td>
                                        <input type="hidden" id="discount-amount" value="@Model.DiscountAmount">
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="bg-soft-primary p-3 rounded">
                                                <h5 class="font-size-14 text-primary mb-0"><i class="fas fa-shipping-fast mr-2"></i> Shipping: <span class="float-right" id="shipping-cost-id"></span></h5>
                                                <input asp-for="OrderHeader.Shipping" type="hidden" id="shipping-cost" value=""/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h6 class="m-0 text-right">Total:</h6>
                                        </td>
                                        <td id="total">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
@section Scripts {
   @{
    <partial name="_CheckoutScriptsPartial"/>
    }
}